
<web-app>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
       <display-name>LoginRegister</display-name>
		<servlet-name>LoginRegister</servlet-name>
		<servlet-class>com.Bridgelabz.controller.LoginRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRegister</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
       <servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.Bridgelabz.controller.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>